<!DOCTYPE html>
<html dir="@(System.Globalization.CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft ? "rtl" : "ltr")" lang="@(System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName )">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8,IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Html.Raw(Infiniti.MvcControllers.ApplicationSettings.ThemePageTitle)</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    @if (Infiniti.MvcControllers.ApplicationSettings.Bundle)
    {
    <link href="~/Content/bundle.css?frameX&v=106882799234227327" rel="stylesheet" type="text/css" />
    }
    else
    {
    <link href="~/Content/bootstrap.min.css?frameX&v=337" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-theme.min.css?frameX&v=337" rel="stylesheet" />
    <link href="~/Content/Site.css?v=10.2.6&frameX" type="text/css" rel="stylesheet" />
    }
    @if (System.Globalization.CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft)
    {
        <link href="~/Content/SiteRtl.css?v=9.7.3&frameX" type="text/css" rel="stylesheet" />
    }
    @Html.Raw(Infiniti.MvcControllers.ApplicationSettings.ThemeCss(Url.Content("~/")))
    @if (Infiniti.MvcControllers.ApplicationSettings.UseCdn)
    {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    }
    else
    {
    <script src="~/scripts/jquery-3.1.1.min.js"></script>
    }
    @RenderSection("AddToHead", required: false)
    <script>
        $(document).ready(function () {
            var copyCss = function (cssElement) {
                if (cssElement != null) {
                    $("head").append($(cssElement).clone());
                }
            };
            copyCss(parent.document.getElementById("siteSkin"));
            copyCss(parent.document.getElementById("projectSkin"));
        });
    </script>
</head>
<body>
    @RenderBody()
</body>
</html>
