@model Infiniti.MvcControllers.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutSubpage.cshtml";
}
@section AddToHead
{
    @if (Infiniti.MvcControllers.ApplicationSettings.UseCdn)
    {
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    }
    else
    {
        <script src="~/scripts/jquery-3.1.1.min.js"></script>
    }
}
<script type="text/javascript">
    function onSubmitCheck() {
        if (document.getElementById('txtChangePassword1').value == '') {
            $('#valPassword1').show();
            return false;
        } else {
            $('#valPassword1').hide();
        }

        if (document.getElementById('txtChangePassword2').value == '') {
            $('#valPassword2').show();
            return false;
        } else {
            $('#valPassword2').hide();
        }

        if (document.getElementById('txtChangePassword1').value != document.getElementById('txtChangePassword2').value) {
            $('#valCompare').show();
            return false;
        } else {
            $('#valCompare').hide();
        }

        return true;
    }
</script>
<form id="Form1" method="post" onsubmit="return onSubmitCheck()" autocomplete="off">
    @Html.AntiForgeryToken()
    <span id="lblBefore">@Html.Raw(Infiniti.MvcControllers.ApplicationSettings.ThemeLoginBefore)</span>
    <div id="divLogin" class="form-horizontal">
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div id="divLoginMessage">@ViewBag.Message</div>
        }
        <br /><br />
        <div id="tblChangePassword">
            <h3 class="login-title">@Intelledox.Produce.Resources.Strings.RequiredPasswordChange</h3>
            <div class="form-group">
                <label for="txtChangePassword1" class="col-sm-3 control-label">@Intelledox.Produce.Resources.Strings.NewPassword</label>
                <div class="col-sm-9">
                    <input name="changePassword1" type="password" maxlength="50" id="txtChangePassword1" class="form-control" autofocus="autofocus" autocomplete="off" />
                    <span id="valPassword1" class="wrn" style="display:none;">@Intelledox.Produce.Resources.Strings.RequiredField</span>
                </div>
            </div>
            <div class="form-group">
                <label for="txtChangePassword2" class="col-sm-3 control-label">@Intelledox.Produce.Resources.Strings.ConfirmNewPassword</label>
                <div class="col-sm-9">
                    <input name="changePassword2" type="password" maxlength="50" id="txtChangePassword2" class="form-control" autocomplete="off" />
                    <span id="valPassword2" class="wrn" style="display:none;">@Intelledox.Produce.Resources.Strings.RequiredField</span>
                    <span id="valCompare" class="wrn" style="display:none;">@Intelledox.Produce.Resources.Strings.PasswordNoMatch</span>
                </div>
            </div>
            <div class="pull-right">
                <input type="submit" name="btnChange" value="@Intelledox.Produce.Resources.Strings.Change" id="btnChange" class="btn btn-primary btn-submit" />
            </div>
        </div>
    </div>
    <span id="lblAfter">@Html.Raw(Infiniti.MvcControllers.ApplicationSettings.ThemeLoginAfter)</span>
</form>
