@using Intelledox.Produce
@{
    Layout = "~/Views/Shared/_LayoutSubpage.cshtml";
}
<form id="Form1" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    <div id="divLogin" class="form-horizontal">
        <div id="divForgotPassword">
            <h4>
                <span id="lblForgotPwdMsg">@String.Format(Intelledox.Produce.Resources.Strings.EnterEmailInstruction, General.GetUsernameText())</span>
            </h4>
            <div class="form-group">
                <div class="col-sm-9">
                    <input name="UsernameEmail" type="text" id="txtUsernameEmail" class="form-control" autofocus="autofocus" autocomplete="off" value="@ViewBag.UserName" />
                </div>
            </div>
            <div class="pull-right">
                <a href="~/Account/Challenge?returnURL=@ViewBag.ReturnUrl" class="btn btn-link" id="lnkCancel">@Intelledox.Produce.Resources.Strings.Cancel</a>
                <input type="submit" value="@Intelledox.Produce.Resources.Strings.Submit" id="btnSubmit" class="btn btn-primary btn-submit" />
            </div>
        </div>
        <br /><br />
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <span id="lblInvalidEmailAddress" class="forgotPwdError">@ViewBag.Message</span>
        }
    </div>
</form>
