@using Intelledox.Produce
@model Infiniti.MvcControllers.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutSubpage.cshtml";
}
<form id="Form1" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    <div id="divLogin" class="form-horizontal">
        <h3 class="login-title">@Intelledox.Produce.Resources.Strings.ResetPassword</h3>
        @if (!string.IsNullOrEmpty(ViewBag.InvalidRequest))
        {
            <span id="lblInvalidRequest" class="forgotPwdError">@ViewBag.InvalidRequest</span>
        }
        else
        {
            <div id="divResetPwd">
                <h4><span id="lblResetPwdMsg">@Intelledox.Produce.Resources.Strings.ResetPwdInstruction</span></h4>
                <div class="form-group"> 
                    <label class="col-sm-3 control-label">@General.GetUsernameText()</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">@ViewBag.Username</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtNewPassword" class="col-sm-3 control-label">@Intelledox.Produce.Resources.Strings.NewPassword</label>
                    <div class="col-sm-9">
                        <input name="password1" type="password" maxlength="50" id="txtNewPassword" class="form-control" autofocus="autofocus" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtReEnterPassword" class="col-sm-3 control-label">@Intelledox.Produce.Resources.Strings.ConfirmPassword</label>
                    <div class="col-sm-9">
                        <input name="password2" type="password" maxlength="50" id="txtReEnterPassword" class="form-control" autocomplete="off" />
                    </div>
                </div>
                <div class="pull-right">
                    <input type="submit" name="btnResetPwd" value="@Intelledox.Produce.Resources.Strings.ResetPassword" id="btnChange" class="btn btn-primary btn-submit" />
                </div>
            </div>
        }

        <br /><br />
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <span id="lblEntryError" class="forgotPwdError">@ViewBag.Message</span>
        }
    </div>
</form>
