@model Infiniti.MvcControllers.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
@section AddToHead
{
    <script src="~/scripts/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        function onSubmitCheck() {
            if (document.getElementById('txtChangePassword1').value == '') {
                $('#valPassword1').show();
                return false;
            } else {
                $('#valPassword1').hide();
            }

            if (document.getElementById('txtChangePassword2').value == '') {
                $('#valPassword2').show();
                return false;
            } else {
                $('#valPassword2').hide();
            }

            if (document.getElementById('txtChangePassword1').value != document.getElementById('txtChangePassword2').value) {
                $('#valCompare').show();
                return false;
            } else {
                $('#valCompare').hide();
            }

            return true;
        }
    </script>
}
<form id="form2" method="post" onsubmit="return onSubmitCheck()" autocomplete="off">
    @Html.AntiForgeryToken()
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div id="divLoginMessage">@ViewBag.Message</div>
    }
    <div id="tblChangePassword" class="loginControl">
        <div class="loginHead">
            @Resources.Strings.RequiredPasswordChange
        </div>
        <div class="loginBody">
            <table role="presentation">
                <tr>
                    <td class="loginLabel">
                        <label for="txtChangePassword1" class="normaltext">@Resources.Strings.NewPassword</label>
                    </td>
                    <td class="loginFields">
                        <input name="changePassword1" type="password" maxlength="50" id="txtChangePassword1" class="field" autofocus="autofocus" autocomplete="off" style="Width:200px" tabindex="1" /><br />
                        <span id="valPassword1" class="wrn" style="display:none;">@Resources.Strings.RequiredField</span>
                    </td>
                </tr>
                <tr>
                    <td class="loginLabel">
                        <label for="txtChangePassword2" class="col-sm-3 control-label">@Resources.Strings.ConfirmNewPassword</label>
                    </td>
                    <td class="loginFields">
                        <input name="changePassword2" type="password" maxlength="50" id="txtChangePassword2" class="field" autocomplete="off" style="Width:200px" tabindex="2" />
                        <span id="valPassword2" class="wrn" style="display:none;">@Resources.Strings.RequiredField</span>
                        <span id="valCompare" class="wrn" style="display:none;">@Resources.Strings.PasswordNoMatch</span>
                    </td>
                </tr>
            </table>
            <hr />
            <div class="loginButtonCell">
                <input type="submit" name="btnChange" value="Change" id="btnChange" class="button" tabindex="3" />
            </div>
        </div>
    </div>
</form>

